* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff0dc;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr 3rf;
}

.sidebar {
    background-color: #ffc06e;
    color: white;
    padding: 0 5rem 0 3rem;
    grid-row: 1 / -1;
    grid-column: 1 / 2;

    display: grid;
    grid-template-rows: 0.3fr 0.5fr 1fr;
    gap: 3rem;
}
div[class*="options"] {
    display: flex;
    flex-flow: column;
    gap: 1.5rem;
}
.sidebar div div, .sidebar .sidebar-title {
    fill: #ffffff;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.header {
    background-color: #ffffff;
    grid-row: 1;
    grid-column: 2 / 4;
}
.header > div {
    padding: 1.5rem 2rem 1.5rem 3rem;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 2fr 1fr;
}
.header .search{
    font-size: 14px;
    justify-content: space-between;
}
.header .user-info {
    border-top: 5px dashed #fce6c9;
    font-size: 20px;
    font-weight: bold;
    justify-content: space-between;
}
.header .search div, .header .user-info div {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 2em;
}
.header .search div:nth-last-child(1) {
    justify-self: flex-end;
}
.search input {
    font-size: 2em;
    background-color: #fff0dc;
    width: 40rem;
    height: 2.5rem;
    border: 0;
    border-radius: 20px;
    box-shadow: -3px 4px #b9b1a6;
}
.search input:focus {
    outline: none;
    border: 2px solid #ffc06e;
}
.header .user-info .user-name {
    display: grid;
    grid-template-rows: 40px 40px;
    grid-template-columns: 100px 400px;
    row-gap: 0;
}
.user-name img {
    grid-row: 1 / 3;
}
.user-name h2 {
    grid-row: 2;
    grid-column: 2;
    align-self: end;
}
.user-info .buttons button {
    background-color: #ffc06e;
    color: #ffffff;
    font-weight: bold;
    font-size: 25px;
    width: 8rem;
    height: 3rem;
    border: none;
    border-radius: 20px;
    box-shadow: -3px 4px #b9b1a6;
}

img {
    height: 5em;
    width: 5em;
    border-radius: 50px;
}

.main-content {
    grid-column: 2 / 4;
}

