* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --body-color: rgb(255, 240, 219);
    --sidebar-color: rgba(255, 192, 110);
    --header-shadow: rgba(78, 78, 78, 0.2);
    --main-shadow: rgba(0, 0, 0, 0.1);
}

body {
    background-color: var(--body-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-height: 20rem;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 3rf;
}

.sidebar {
    background-color: var(--sidebar-color);
    color: white;
    padding: 0 5rem 0 3rem;
    grid-row: 1 / -1;
    grid-column: 1 / 2;

    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    gap: 3rem;
}
div[class*="options"] {
    display: flex;
    flex-flow: column;
    gap: 1.5rem;
}
.sidebar div div, .sidebar .sidebar-title {
    fill: white;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.header {
    background-color: white;
    grid-row: 1;
    grid-column: 2 / 4;
    box-shadow: 0 8px var(--main-shadow);
}
.header > div {
    padding: 1.5rem 2rem 1.5rem 3rem;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 2fr 1fr;
}
.header .search{
    font-size: 14px;
    justify-content: space-between;
}
.header .user-info {
    border-top: 5px dashed var(--sidebar-color);
    font-size: 20px;
    font-weight: bold;
    justify-content: space-between;
}
.header .search div, .header .user-info div {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 2em;
}
.header .search div:nth-last-child(1) {
    justify-self: flex-end;
}
.search input {
    font-size: 2em;
    background-color: var(--body-color);
    width: 40rem;
    height: 2.5rem;
    border: 0;
    border-radius: 20px;
    box-shadow: -5px 7px var(--header-shadow);
}
.search input:focus {
    outline: none;
    border: 2px solid var(--sidebar-color);
}
.header .user-info .user-name {
    display: grid;
    grid-template-rows: 40px 40px;
    grid-template-columns: 100px 400px;
    row-gap: 0;
}
.user-name img {
    grid-row: 1 / 3;
}
.user-name h2 {
    grid-row: 2;
    grid-column: 2;
    align-self: end;
}
.user-info .buttons button {
    background-color: var(--sidebar-color);
    color: white;
    font-weight: bold;
    font-size: 25px;
    width: 8rem;
    height: 3rem;
    border: none;
    border-radius: 20px;
    box-shadow: -5px 7px var(--header-shadow);
}

img {
    height: 5em;
    width: 5em;
    border-radius: 50px;
}

.main-content {
    padding: 4rem;
    display: grid;
}
.main-content .your-projects {
    font-size: 24px;
}
.your-projects .projects {
    
}
.projects .project {
    background-color: white;
    border-left: 15px solid var(--sidebar-color);
    padding: 2rem 2rem 0 2rem;
    border-radius: 20px;
}
.project p, .announ-conteiner p {
    font-weight: 100;
    color: rgb(128, 128, 128);
}
.project .icons {
    align-self: center;
    fill: rgb(128, 128, 128);
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.main-content .announcements, .trending {
    font-size: 25px;
}
.announcements .announ-conteiner, .trending .trends {
    background-color: white;
    font-size: 20px;
    padding: 3rem;
    border-radius: 20px;
    display: grid;
    grid-template-rows: repeat(auto, 1fr);
    gap: 1rem;
}
.trending .trends .trend {
    display: grid;
    grid-template-columns: 120px 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
    'img'
    'img';
}
.trend img {
    grid-area: img;
}
.trend div {
    align-self: flex-end;
}