* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #e6e1ff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr 3rf;
}

.sidebar {
    background-color: #9983f8;
    color: white;
    padding: 0 5rem 0 3rem;
    grid-row: 1 / -1;
    grid-column: 1 / 2;

    display: grid;
    grid-template-rows: 0.3fr 0.5fr 1fr;
    gap: 3rem;
}
div[class*="options"] {
    display: flex;
    flex-flow: column;
    gap: 1.5rem;
}
.sidebar div div, .sidebar .sidebar-title {
    fill: #ffffff;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.header {
    background-color: #ffffff;
    padding: 0 3rem 1rem 3rem;
    grid-row: 1;
    grid-column: 2 / 4;
}
.header .search {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}
.header > div {
    margin-top: 1rem;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 2fr 1fr;
}
.header .search div {
    display: flex;
    align-items: center;
    gap: 25px;
}
.search input {
    font-size: 2em;
    background-color: #e6e1ff;
    width: 40rem;
    height: 2.5rem;
    border: 0;
    border-radius: 20px;
}
.search input:focus {
    outline: none;
    border: 2px solid #9983f8;
}
img {
    height: 6em;
    width: 6em;
    border-radius: 50px;
}

.main-content {
    grid-column: 2 / 4;
}

